<div class="footer fixed_full">
	<div class="pull-right">
		Version @typeof(Startup).Assembly.GetName().Version
	</div>
	<div>
		<strong>SparkOps Core</strong> &mdash; Based on <a href="https://github.com/Resgrid/Core" target="_blank">Resgrid</a> (Apache 2.0). &copy; @DateTime.Now.Year Resgrid, LLC.
	</div>
</div>
